#about{

  .about-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .about-content{
			h2{
        font-weight: 700;
        color: #031a39;
				text-transform: uppercase;
        span{
          color: #2bbecb;
        }
      }
      p{
        color: #031a39;
      }
    }
  }
}