#contact{
	background-color: #333;
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem 5rem;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
    @media (max-width: 1024px){
      flex-wrap: nowrap;
    }
  }
}
.contact-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
		@media (max-width: 767px){
			flex-direction: column;
			gap: 30px;
		}

		h2{
				text-transform: uppercase;
				color: #2bbecb;
		}
		a{
			color: white;
		}
		.right-column{
				div {
				display: flex;
				gap: 10px;
				align-items: center;
				}
		}
		.contact-info{
			div {
				display: flex;
				gap: 10px;
				align-items: center;
			}
		}
}



@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    width: 100%;
    margin: 0;
  }
}
