header {
  background: #2bbecb;
  color: #fff;
  padding: 2rem 5rem; 

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .left-column {
      flex: 0 0 40%; 
      max-width: 300px;

      p {
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
      }

      .logo {
        width: 100%;
        // max-width: 90px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        
        svg{
          max-width: 50px;
        }
      }
    }

    .right-column {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .menu-icon {
        cursor: pointer;
        font-size: 2rem;
        display: none; 
      }


      .nav-links {
        display: flex;
        list-style-type: none;
        gap: 40px;

        a {
          color: #fff;
          text-decoration: none;
          padding: 0.5rem;
          
          &:hover{
            color:#031a39;
          }
        }

        .cv-download {
          border: 1px solid #fff;
          border-radius: 20px;
          padding: 0.5rem 1rem;
          &:hover{
            background-color: #2bbecb;
            color: #ffffff;
          }
        }
      }

      .nav-links.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center; 
        position: absolute; 
        top: 5rem;
        left: 0;
        background: #031a39;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    nav {
      
    .right-column{
      justify-content: flex-end;

        .menu-icon.mobile-icon {
          display: block; 
        }  
        .nav-links{
          display: none; 
          flex-direction: column;
          width: 100%;
          text-align: center; 
        }
  
        .nav-links.open {
          // display: flex; 
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          background: #031a39;
          padding: 3rem 5rem 1rem;
          z-index: 8;
          
          li{
            padding-bottom: 1rem;
          }
        }
        .close-icon {
          display: block;
          position: fixed;
          // top: 1rem;
          // right: 1rem;
          font-size: 2rem;
          cursor: pointer;
          z-index: 9;
        }

      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding:2rem; 
    position: fixed;
    width: 100%;
    z-index: 999;
    nav {

    .right-column{
      
      justify-content: flex-end;
        .menu-icon.mobile-icon {
          display: block; 
        }  
        .nav-links{
          display: none; 
          flex-direction: column;
          width: 100%;
          text-align: center; 
        }
  
        .nav-links.open {
          // display: flex; /* Shown when menu is open */
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          background: #031a39;
          padding: 3rem 5rem 1rem;
          z-index: 8; 
          
          li{
            padding-bottom: 1rem;
          }
        }
        .close-icon {
          display: block;
          // position: fixed;
          // top: 1rem;
          // right: 1rem;
          font-size: 2rem;
          cursor: pointer;
          z-index: 9;
        }

      }
    }
  }
}