/* Home.scss */
#home{
  background-color: #2bbecb;
}
.home-container {
    padding: 2rem;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .banner-wrap{
      display: flex;
      align-items: center;
      @media (max-width: 767px){
        flex-direction: column-reverse;
        gap: 30px;
      }

      .banner-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: 767px){
          gap: 50px;
        }

        .btn-hero{
          display: flex;
          justify-content: flex-start;

          a{
            background-color: white;
            padding: 15px 28px;
            border-radius: 8px;
            text-transform: uppercase;
            color: #031a39;
            @media (max-width: 767px){
              width: 100%;
            }
          }
        }
      }

      .banner-image{
        img{
          max-width: 400px;
          @media (max-width: 767px){
            max-width: 200px;
          }
        }
      }
    }
  }
  
  h1 {
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-align: left;
    margin: 0;
    b{
      font-weight: 400;
    }
    @media (max-width: 767px){
      text-align: center;
    }
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: normal;
    color: #031a39;
      b{
        font-weight: 700;
      }
  }
  
  p {
    font-size: 1.25rem;
    color: white;
  }
  
  @media (max-width: 1024px) {
    .home-container {
      padding: 10rem 1.5rem 1.5rem;
    }
    
    h1 {
      font-size: 2.25rem;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    p {
      font-size: 1.125rem;
    }
  }
  
  @media (max-width: 768px) {
    .home-container {
      padding: 10rem 1rem 1rem;
    }
    
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  